body {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./bg.png');
    text-align: center;
    color: #FFF;
}

.banner-wrapper {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.banner {
    width: 80%;
    max-height: 350px; 
    object-fit: cover;
    object-position: center; 
    border-radius: 20px; 
    transition: ease 0.5s;
}

.banner:hover {
    transform: scale(1.05); 
}


.specs {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.spec {
    width: 250px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
}

.btn {
    padding: 12px 28px;
    background-color: #FFF;
    color: #000;
    border-radius: 10px;
    transition: ease 0.5s;
}

.btn:hover {
    background-color: red;
    color: #FFF;
}
